body {
    background-color: black;
}
.container-fluid{
    background-color: white; 
    width: 1220px;
    height: auto;
    margin-top: 30px;
    padding-left: 0;
    padding-right: 0;
}
.navBar{
    background-color: rgb(245, 244, 244);
    padding-top: 12px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 17px;
    margin: 0;
}